.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  background: rgb(255, 255, 255)!important;
  border-radius: 15px; /* 圆角半径 */
  border: 1px solid #000000; /* 边缘描线 */
  padding: 10px; /* 内边距 */

}

.react-grid-placeholder {
  color: #a8a8e9;
  background: rgb(157, 157, 193)!important; /* 更改背景颜色和透明度 */
  border: 2px #fdfdfd; /* 更改边框样式和颜色 */
  border-radius: 15px; /* 添加圆角 */
}